.divimg{
    width: 600px;
    height: 0 auto;
}
button{
    border: none;
    background-color: skyblue;
    border-radius: 15px;
    width: 100px;
    height: 40px;
}
button:hover{
    background-color: aqua;
    border-radius: 15px;
}
.box:hover{
    box-shadow: 5px 5px 5px 7px black ;
    border-radius: 3px;
}
.img2:hover{
width: 120px;
height: 120px;
}
.logo2:hover{
 width: 50px;
 height: 50px;
 color: blue;
}